{% extends 'base.html' %}
{% load static %}

{% block css %}
{% if request.session.browse_mode == 'dark' %}
    <link rel="stylesheet" href='{% static "style/css/mhealth-dark.css" %}'>
    <style>
        .pac-container {
            z-index: 10000 !important;
            background-color: #303030;
            border-bottom-right-radius: .5em;
            border-bottom-left-radius: .5em;
        }
    
        .pac-matched{
            color: #6573e0;
        }
    
        .pac-item{
            border-top: 1px solid #262626;
        }
    
    
        .pac-item:hover{
            background-color: #262626;
        }
    
        .pac-item-query{
            color: #FFFBFC;
        }
    
    </style>
{% else %}
    <link rel="stylesheet" href='{% static "style/css/mhealth-light.css" %}'>
    <style>
        .pac-container {
            z-index: 10000 !important;
            background-color: #f0f0f0;
            border-bottom-right-radius: .5em;
            border-bottom-left-radius: .5em;
        }
    
        .pac-matched{
            color: #6573e0;
        }
    
        .pac-item{
            border-top: 1px solid #FFFBFC;
        }
    
        .pac-item:hover{
            background-color: #FFFBFC;
        }
    
        .pac-item-query{
            color: #303030;
        }
    
    </style>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
{% endblock css %}

{% block content %}
    <h1>Zdrowie psychiczne</h1>
    <section class="mental-health-int">
        <p>Zdrowie psychiczne to bardzo ważny aspekt naszego życia. Tutaj znajdziesz kilka podstawowych statystyk dotyczących tej właśnie dziedziny naszego życia. Jeśli interesują cię dokładne statystyki dotyczące na przykład poszczególnych chorób psychicznych znajdziesz je <a href="https://ourworldindata.org/mental-health" target="_blank">pod tym linkiem</a></p>
    </section>
    <section class="mental-health">
        <section class="mental-health-section">
            <h3>Ważne telefony</h3>
                <p>Telefon zaufania dla osób dorosłych
                    w kryzysie emocjonalnym<br><a href="tel:116123">tel. 116 123</a></p>
                <p>Telefon Zaufania dla Dzieci i Młodzieży<br><a href="tel:116111">tel. 116 111</a></p>
                <p>Ośrodek Interwencji Kryzysowej
                    – pomoc psychiatryczno-pedagogiczna<br><a href="tel:228554432">tel. 22 855 44 32</a></p>
                <p>Całodobowa bezpłatna infolinia dla dzieci, młodzieży, rodziców i nauczycieli<br><a href="tel:800080222">tel. 800 080 222</a></p>
                <p>Dziecięcy Telefon Zaufania
                    Rzecznika Praw Dziecka<br><a href="tel:800121212">tel. 800 12 12 12</a></p>
                <p>Ogólnopolski Telefon Dla Ofiar Przemocy w Rodzinie
                    „Niebieska Linia”<br><a href="tel:800120002">tel. 800 120 002</a></p>
                <p>Ogólnopolski Telefon Zaufania „Uzależnienia behawioralne”<br><a href="tel:801889880">tel. 801 889 880</a></p>
                <p>Ogólnopolski Telefon Zaufania
                    „Narkotyki – Narkomania”<br><a href="tel:801199990">tel. 801 199 990</a></p>
        </section>
        <section class="mental-health-section">
            <section class="mental-health-subsection">
                <div class="mental-section-chart">
                    <canvas id="myChart"></canvas>
                </div>
                <p class="mental-section-desc">
                    Śmierć spowodowana zaburzeniami psychicznymi
                </p>
            </section>
            <section class="mental-health-subsection">
                <div class="mental-section-chart">
                    <canvas id="mySecondChart"></canvas>
                </div>
                <p class="mental-section-desc">
                    Liczba osób z zaburzeniami psychicznymi ze względu na płeć
                </p>
            </section>
        </section>
        <section class="mental-health-section">
            <section class="map-section">
                <h2>Poradnie psychologiczne w Twojej okolicy</h2>
                <input type="text" id="search">
                <div id="map"></div>
                <h3>Najbliższe miejsca:</h3>
                <div id="output"></div>
            </section>
        </section>
        <div class="alert-success">
            <span class="alert-message"></span>
        </div>
    </section>

{% endblock content %}
 
{% block scripts %}

{% if request.session.browse_mode == 'dark' %}
<script src="{% static 'js/mental-dark.js' %}"></script>
{% else %}
<script src="{% static 'js/mental-light.js' %}"></script>
{% endif %}
<script src="{% static 'js/mapmental.js' %}"></script>
{% endblock scripts %}