@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;500;700&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background-color: #303030;
}
body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: #FFFBFC;
}
@keyframes hovernav {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}
@keyframes dropdown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
body .header {
  flex-basis: 15%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  padding: 2em 0;
  position: relative;
}
body .header::after {
  content: " ";
  position: absolute;
  height: 90%;
  right: -2px;
  bottom: 5%;
  border-radius: 0.5em;
  border-right: 5px solid #6573e0;
}
body .header .header-nav {
  margin-top: 5vh;
  flex-basis: 25vh;
}
body .header .header-nav a > img {
  width: 70%;
}
body .header .header-nav p {
  margin-top: 3vw;
  text-align: left;
  padding: 0.8em;
  letter-spacing: 0.15em;
  font-weight: 700;
}
body .header .header-nav .header-nav-list {
  list-style: none;
}
body .header .header-nav .header-nav-list .header-nav-list-item {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 0.4em;
  overflow: hidden;
}
body .header .header-nav .header-nav-list .header-nav-list-item .header-nav-nested-list {
  list-style: none;
  transition-duration: 0.5s;
  max-height: 0;
}
body .header .header-nav .header-nav-list .header-nav-list-item .header-nav-nested-list .header-nav-nested-list-item {
  font-size: 90%;
  text-align: right;
  font-weight: 100;
}
body .header .header-nav .header-nav-list .header-nav-list-item:hover .header-nav-nested-list-inactive {
  animation: dropdown 0.5s ease-in;
  max-height: 10em;
}
body .header .header-nav .header-nav-list .header-nav-list-item .header-nav-nested-list-active {
  max-height: 10em;
}
body .header .header-nav .header-nav-list .header-nav-list-item a {
  display: block;
  padding: 0.8em 0.4em;
  text-decoration: none;
  position: relative;
}
body .header .header-nav .header-nav-list .header-nav-list-item a::after {
  content: " ";
  width: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0.5em;
  border-bottom: 5px solid #6573e0;
  transition-duration: 0.5s;
}
body .header .header-nav .header-nav-list .header-nav-list-item a:hover::after {
  content: " ";
  width: 40%;
  animation: hovernav 0.3s ease-in;
}
body .header .header-account p {
  text-align: left;
  padding: 0.8em;
  letter-spacing: 0.15em;
  font-weight: 700;
}
body .header .header-account .header-account-list {
  list-style: none;
}
body .header .header-account .header-account-list .header-account-list-item {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 0.4em;
  overflow: hidden;
}
body .header .header-account .header-account-list .header-account-list-item.logout a {
  color: #8a0e0e;
}
body .header .header-account .header-account-list .header-account-list-item .header-account-nested-list {
  list-style: none;
  transition-duration: 0.5s;
  max-height: 0;
}
body .header .header-account .header-account-list .header-account-list-item .header-account-nested-list .header-account-nested-list-item {
  font-size: 90%;
  text-align: right;
  font-weight: 100;
}
body .header .header-account .header-account-list .header-account-list-item:hover .header-account-nested-list-inactive {
  animation: dropdown 0.5s ease-in;
  max-height: 10em;
}
body .header .header-account .header-account-list .header-account-list-item .header-account-nested-list-active {
  max-height: 10em;
}
body .header .header-account .header-account-list .header-account-list-item a {
  display: block;
  padding: 0.8em 0.4em;
  text-decoration: none;
  position: relative;
}
body .header .header-account .header-account-list .header-account-list-item a::after {
  content: " ";
  width: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0.5em;
  border-bottom: 5px solid #6573e0;
  transition-duration: 0.5s;
}
body .header .header-account .header-account-list .header-account-list-item a:hover::after {
  content: " ";
  width: 40%;
  animation: hovernav 0.3s ease-in;
}
body .header .header-item-active > a {
  position: relative;
}
body .header .header-item-active > a::after {
  content: " ";
  width: 40% !important;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0.5em;
  border-bottom: 5px solid #6573e0;
  transition-duration: 0.5s;
}
body .main {
  flex-basis: 85%;
  height: 100vh;
  background-color: #262626;
  position: relative;
  overflow-x: hidden;
}
body .main * {
  color: #FFFBFC;
}
body .main h1 {
  margin: 5vw 0 0 10vw;
  padding-bottom: 1vw;
  position: relative;
}
body .main h1::after {
  content: " ";
  position: absolute;
  width: 10vw;
  right: 60vw;
  bottom: 0;
  border-radius: 0.5em;
  border-bottom: 5px solid #6573e0;
}
@keyframes alert_push {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-1%);
  }
}
@keyframes alert_hide {
  0% {
    transform: translateX(-1%);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}
body .main .alert {
  width: 15vw;
  height: 3vw;
  border-radius: 0.5em;
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: alert_push 1s ease-in;
  z-index: 999;
}
body .main .alert.alert-success {
  background-color: #009122;
  border-left: 0.5vw solid #44bd60;
  border-right: 0.5vw solid #44bd60;
}
body .main .alert.alert-error {
  background-color: #990000;
  border-left: 0.5vw solid #c93434;
  border-right: 0.5vw solid #c93434;
}
body .main .alert.alert-warning {
  background-color: #d6ba04;
  border-left: 0.5vw solid #fff300;
  border-right: 0.5vw solid #fff300;
}
body .main .alert .alert-message {
  text-align: center;
  margin: auto;
}
body .main .alert.alert-hide {
  animation: alert_hide 1s ease-in;
  transform: translateX(120%);
}