.main #chart-box {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.main #chart-box #first-chart {
  flex-basis: 90%;
}
.main #chart-box #second-chart {
  flex-basis: 90%;
}
.main * {
  color: #535657;
}