.header {
  height: auto;
}

.main * {
  color: #303030;
}
.main h2 {
  text-align: center;
  font-size: 4em;
  color: #303030;
  margin-bottom: 0.5em;
}
.main input, .main select, .main button, .main option {
  color: #222;
}
.main .globalCharts {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.main .globalCharts #cipsko {
  flex-basis: 100%;
}
.main .globalCharts #casesRes {
  display: block;
  flex-basis: 100%;
  text-align: center;
  font-size: 3em;
  color: #303030;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.main .globalCharts .smallchart {
  margin-top: 2em;
  margin-bottom: 2em;
  flex-basis: 75%;
}
.main .globalCharts .singlestats {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.main .globalCharts .singlestats #allCases, .main .globalCharts .singlestats #todayCases, .main .globalCharts .singlestats #activeCases {
  color: #303030;
  text-align: center;
  font-size: 1.5em;
  display: block;
  flex-basis: 30%;
}
.main .globalCharts .desc {
  flex-basis: 20%;
  padding: 0.5em;
  padding-top: 8em;
}
.main .globalCharts .desc p {
  text-align: center;
  font-size: 2em;
  color: #303030;
  display: block;
  padding-bottom: 1em;
}

.footer {
  height: auto;
}