.header {
  height: auto;
}

.main #show {
  display: none;
}
.main #show .globalCharts {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.main #show .globalCharts #cipsko {
  flex-basis: 100%;
}
.main #show .globalCharts #cipsko #myChart {
  width: 100%;
}
.main #show .globalCharts #casesRes {
  display: block;
  flex-basis: 100%;
  text-align: center;
  font-size: 3em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.main #show .globalCharts .smallchart {
  margin-top: 2em;
  margin-bottom: 2em;
  flex-basis: 75%;
}
.main #show .globalCharts .smallchart #predChart {
  width: 100%;
}
.main #show .globalCharts .smallchart #dpredChart {
  width: 100%;
}
.main #show .globalCharts .singlestats {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.main #show .globalCharts .singlestats #allCases, .main #show .globalCharts .singlestats #todayCases, .main #show .globalCharts .singlestats #activeCases {
  text-align: center;
  font-size: 1.5em;
  display: block;
  flex-basis: 30%;
}
.main #show .globalCharts .desc {
  flex-basis: 20%;
  padding: 0.5em;
  padding-top: 8em;
}
.main #show .globalCharts .desc p {
  text-align: center;
  font-size: 2em;
  display: block;
  padding-bottom: 1em;
}

.footer {
  height: auto;
}