.main form {
  margin: 4vw 0 0 17vw;
  position: relative;
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.main form .form-fields .form-div {
  height: 3vw;
  width: 15vw;
  position: relative;
  margin-bottom: 1vw;
}
.main form .form-fields .form-div ul {
  padding-top: 1vw;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.main form .form-fields .form-div ul input[type=radio] {
  padding: 0;
  height: 1em;
  width: 1em;
  border-radius: 0;
}
.main form .form-fields .form-div ul label {
  position: relative;
}
.main form .form-fields .form-div ul + label {
  top: -1.5vw;
}
.main form .form-fields .form-div input, .main form .form-fields .form-div select {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1vw;
  border-radius: 0.5em;
  background-color: #f0f0f0;
  outline: none;
  border: none;
  transition-duration: border 0.5s;
}
.main form .form-fields .form-div input option, .main form .form-fields .form-div select option {
  border: none;
  outline: none;
}
.main form .form-fields .form-div label {
  text-transform: lowercase;
  margin-right: 2vw;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: transform 0.5s;
}
.main form .form-fields .form-div label span {
  pointer-events: none;
  position: absolute;
  bottom: 1vw;
  padding-left: 1vw;
}
.main form .form-fields .form-div input:focus, .main form .form-fields .form-div select:focus {
  border: 1px solid #6573e0;
}
.main form .form-fields .form-div input:focus + label, .main form .form-fields .form-div select:focus + label {
  transform: translateY(-50%);
}
.main form .form-fields .form-div input:not(:placeholder-shown) + label, .main form .form-fields .form-div select:valid + label {
  transform: translateY(-50%);
}
.main form .form-image {
  width: 13vw;
  height: 13vw;
  margin-left: 1vw;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #6573e0;
  margin-bottom: 1vw;
  position: relative;
}
.main form .form-image img {
  height: 100%;
  width: 100%;
}
.main form .form-image input {
  position: absolute;
  bottom: 0;
  left: -18%;
  padding: 1vw;
  color: #303030;
  background-color: #FFFBFC;
}
.main form .form-image input::-webkit-file-upload-button {
  visibility: hidden;
}
.main form .g-recaptcha {
  transform: scale(0.95);
  margin-left: -0.5vw;
  margin-bottom: 1vw;
}
.main form input[type=submit] {
  background-color: #6573e0;
  border: none;
  outline: none;
  padding: 1vw 5vw;
  cursor: pointer;
  border-radius: 0.5em;
  display: block;
  width: 15vw;
  height: 3vw;
}
.main form input[type=submit]:hover {
  border: 1px solid #303030;
}