.main {
  height: auto !important;
}
.main h2 {
  text-align: center;
  font-size: 4em;
  color: #303030;
  margin-bottom: 0.5em;
}
.main .globalCharts {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.main .globalCharts #myChart {
  flex-basis: 100%;
  width: 100%;
}
.main .globalCharts #casesRes {
  display: block;
  flex-basis: 100%;
  text-align: center;
  font-size: 3em;
  color: #303030;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.main .globalCharts .smallchart {
  margin-top: 2em;
  margin-bottom: 2em;
  flex-basis: 75%;
}
.main .globalCharts .smallchart #dailyChart, .main .globalCharts .smallchart #deathChart, .main .globalCharts .smallchart #activeChart {
  width: 100vh;
}
.main .globalCharts .desc {
  flex-basis: 20%;
  padding: 0.5em;
  padding-top: 8em;
}
.main .globalCharts .desc p {
  text-align: center;
  font-size: 2em;
  color: #303030;
  display: block;
  padding-bottom: 1em;
}

.footer {
  height: 10vh;
}