.main {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "head head" "rest rest";
}
.main h1 {
  grid-area: head;
}
.main .homepage-left {
  margin-top: 4vw;
  justify-self: center;
}
.main .homepage-left .homepage-baner {
  width: 80%;
  padding: 2vw;
  border-radius: 0.5em;
  background-color: #f0f0f0;
  margin: 1vw auto;
  position: relative;
  align-items: center;
}
.main .homepage-left .homepage-baner img {
  width: 100%;
  border-radius: 0.5em;
}
.main .homepage-left .homepage-baner::after {
  content: " ";
  position: absolute;
  width: 80%;
  bottom: -1.5px;
  left: 10%;
  border-radius: 0.5em;
  border: 3px solid #6573e0;
}
.main .tweets {
  width: 80%;
  margin: auto;
  margin-top: 4vw;
  display: grid;
  display: -ms-grid;
  grid-gap: 1vw;
}
.main .tweets .tweet-single {
  padding: 1vw;
  border-radius: 0.5em;
  background-color: #f0f0f0;
  position: relative;
}
.main .tweets .tweet-single .tweet-user {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
}
.main .tweets .tweet-single .tweet-user img {
  border-radius: 50%;
}
.main .tweets .tweet-single .tweet-user p {
  margin-left: 1vw;
}
.main .tweets .tweet-single .tweet-user p a {
  text-decoration: none;
}
.main .tweets .tweet-single .tweet-content {
  margin-top: 1vw;
  padding-bottom: 1.5vw;
  text-align: center;
}
.main .tweets .tweet-single .tweet-content p {
  font-weight: 300;
  text-align: left;
}
.main .tweets .tweet-single .tweet-content > img {
  width: 100%;
  margin-top: 1vw;
  border-radius: 0.5em;
}
.main .tweets .tweet-single .tweet-content a {
  position: absolute;
  bottom: 0.5vw;
  right: 1vw;
}
.main .tweets .tweet-single .tweet-content a img {
  width: 1.25vw;
  filter: invert(70%);
}
.main .tweets .tweet-single .tweet-content a img:hover {
  filter: invert(48%) sepia(8%) saturate(7179%) hue-rotate(205deg) brightness(93%) contrast(89%);
}
.main .tweets .tweet-single .tweet-content a:hover + .see-more {
  transform: scaleY(1);
}
.main .tweets .tweet-single .tweet-content .see-more {
  transform: scaleY(0);
  transition: transform 0.2s ease-in;
  position: absolute;
  bottom: 2.5vw;
  right: -2vw;
  border-radius: 0.5em;
  background-color: #FFFBFC;
  border: 1px solid #303030;
  padding: 0.5vw;
  font-size: 0.8em;
}
.main .tweets .tweet-single .tweet-content .see-more::after {
  content: " ";
  position: absolute;
  bottom: -0.25vw;
  right: 3vw;
  width: 1vw;
  border-bottom: 4px solid #6573e0;
  border-radius: 0.5em;
}
.main .tweets .tweet-single .tweet-content .tweet-date {
  position: absolute;
  bottom: 0.5vw;
  left: 1vw;
  font-size: 0.7em;
}
.main .tweets .tweet-single .tweet-content .tweet-date::after {
  content: " ";
  position: absolute;
  width: 9vw;
  right: -1vw;
  bottom: 1vw;
  border-radius: 0.5em;
  border-top: 1px solid #6573e0;
}