.main {
  height: 100vw;
  max-height: auto !important;
}
.main .mental-health-int {
  width: 90%;
  margin: 2vw auto;
  background-color: #f0f0f0;
  padding: 2vw;
  border-radius: 0.5em;
  position: relative;
  font-weight: 300;
}
.main .mental-health-int::after {
  content: " ";
  position: absolute;
  width: 80%;
  bottom: -1.5px;
  left: 10%;
  border-radius: 0.5em;
  border: 3px solid #6573e0;
}
.main .mental-health {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "big big" "rest rest";
  grid-gap: 2vw;
  margin-top: 4vw;
}
.main .mental-health .mental-health-section {
  width: 100%;
  padding: 1vw;
  border-radius: 0.5em;
  margin: 1vw 0.25vw;
  position: relative;
}
.main .mental-health .mental-health-section .mental-section-chart {
  width: 90%;
  margin: auto;
  padding: 0.5vw;
}
.main .mental-health .mental-health-section .mental-section-chart canvas {
  width: 100%;
}
.main .mental-health .mental-health-section .mental-section-desc {
  display: block;
  text-align: left;
  font-size: 1.3em;
  padding: 0.5vw;
  position: relative;
}
.main .mental-health .mental-health-section:first-of-type {
  background-color: #f0f0f0;
}
.main .mental-health .mental-health-section:first-of-type::after {
  content: " ";
  position: absolute;
  width: 80%;
  bottom: -1.5px;
  left: 10%;
  border-radius: 0.5em;
  border: 3px solid #6573e0;
}
.main .mental-health .mental-health-section:first-of-type h3 {
  padding: 1vw;
}
.main .mental-health .mental-health-section:first-of-type p {
  padding-left: 2vw;
  padding-bottom: 1vw;
  font-weight: 300;
}
.main .mental-health .mental-health-section:last-of-type {
  grid-area: rest;
}
.main .mental-health .mental-health-section:last-of-type .map-section {
  width: 100%;
  border-radius: 0.5em;
  background-color: #f0f0f0;
  margin: auto;
  padding: 2.45vw;
  position: relative;
}
.main .mental-health .mental-health-section:last-of-type .map-section h2 {
  margin-bottom: 1vw;
}
.main .mental-health .mental-health-section:last-of-type .map-section #search {
  width: 100%;
  height: 2vw;
  border-radius: 0.5em;
  padding: 0.5vw;
  outline: none;
  border: none;
  background-color: #FFFBFC;
  color: #303030;
  position: relative;
}
.main .mental-health .mental-health-section:last-of-type .map-section #search::placeholder {
  color: #303030;
}
.main .mental-health .mental-health-section:last-of-type .map-section #search:focus {
  outline: none;
  border: none;
}
.main .mental-health .mental-health-section:last-of-type .map-section #map {
  width: 100%;
  height: 30vw;
  border-radius: 0.5em;
  margin-top: 0.5vw;
}
.main .mental-health .mental-health-section:last-of-type .map-section #map .gm-style-iw-c {
  background-color: #FFFBFC;
}
.main .mental-health .mental-health-section:last-of-type .map-section #map .gm-style-iw-c .gm-style-iw-d {
  background-color: #FFFBFC;
}
.main .mental-health .mental-health-section:last-of-type .map-section #map .gm-style-iw-c .gm-style-iw-d::-webkit-scrollbar-track {
  background-color: #FFFBFC;
}
.main .mental-health .mental-health-section:last-of-type .map-section #map .gm-style-iw-c .gm-style-iw-d::-webkit-scrollbar-track-piece {
  background-color: #FFFBFC;
}
.main .mental-health .mental-health-section:last-of-type .map-section #map .gm-style-iw-c .gm-style-iw-d > div p {
  color: #6573e0;
}
.main .mental-health .mental-health-section:last-of-type .map-section #map .gm-style-iw-c .gm-style-iw-d > div div {
  color: #303030;
}
.main .mental-health .mental-health-section:last-of-type .map-section #map .gm-style-iw-c .gm-style-iw-d > div div span {
  color: #303030;
}
.main .mental-health .mental-health-section:last-of-type .map-section::after {
  content: " ";
  position: absolute;
  width: 80%;
  bottom: -1.5px;
  left: 10%;
  border-radius: 0.5em;
  border: 3px solid #6573e0;
}
.main .mental-health .mental-health-section:last-of-type .map-section h3 {
  margin: 0.5vw 0;
}
.main .mental-health .mental-health-section:last-of-type .map-section #output {
  font-weight: 300;
}
.main .mental-health .mental-health-section:last-of-type .map-section #output p span {
  color: #6573e0;
  font-weight: 500;
}
.main .mental-health .mental-health-section .mental-health-subsection {
  position: relative;
  background-color: #f0f0f0;
  padding: 1vw;
  border-radius: 0.5em;
}
.main .mental-health .mental-health-section .mental-health-subsection:first-of-type {
  margin-bottom: 3vw;
}
.main .mental-health .mental-health-section .mental-health-subsection::after {
  content: " ";
  position: absolute;
  width: 80%;
  bottom: -1.5px;
  left: 10%;
  border-radius: 0.5em;
  border: 3px solid #6573e0;
}