{% extends 'base.html' %}
{% load static %}

{% block css %}
{% if request.session.browse_mode == 'dark' %}
<link rel="stylesheet" href="{% static 'style/css/homepage-dark.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'style/css/homepage-light.css' %}">
{% endif %}

{% endblock css %}

{% block content %}
<h1>Strona główna</h1>
<section class="homepage-left">
    <section class="homepage-baner">
        <img src="{% static 'img/info1.png' %}" alt="info1">
    </section>
    <section class="homepage-baner">
        <p id="res1"></p>
    </section>
    <section class="homepage-baner">
        <img src="{% static 'img/info2.png' %}" alt="info2">
    </section>
    <section class="homepage-baner">
        <p id="res2"></p>
    </section>
</section>
<section class="tweets">
    <h2>Aktualności</h2>
    {% for tweet in tweets %}
        <article class="tweet-single">
            <section class="tweet-user">
                <a href="https://twitter.com/{{ tweet.screen_name }}"><img src="{{ tweet.profile_image }}"></a>
                <p><a href="https://twitter.com/{{ tweet.screen_name }}">{{ tweet.name }}</a></p>
            </section>
            <section class="tweet-content">
                <p>{{ tweet.text }}</p>
                {% if tweet.tweet_image %}
                    <img src="{{ tweet.tweet_image }}" alt="zdjęcie do tweeta">
                {% endif %}
                <a href="https://twitter.com/MZ_GOV_PL/status/{{ tweet.tweet_id }}"><img src="{% static 'img/twitter.svg' %}" alt="link do tweeta"></a>
                <span class="see-more">zobacz na twitterze</span>
                <span class="tweet-date">{{ tweet.tweet_date }}</span>
            </section>
        </article>
    {% endfor %}
</section>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/facts.js' %}"></script>
{% endblock scripts %}