/// #FFFBFC WHITE
/// #E7E7E7 PLAT
/// #8D91C7 PURPLE
/// #535657 GREY
/// #303030
/// #262626
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');
@import "utilities/variables-dark";

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: $bgcolor1;
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Raleway', sans-serif;
        color: $color;
    }

    @keyframes  hovernav{
        from {width: 0}
        to {width: 40%}
      }

    @keyframes dropdown {
        0% {
          transform: scaleY(0);
        }
        80% {
          transform: scaleY(1.1)
        }
        100% {
          transform: scaleY(1);
        }
      }
    
    .header {
        flex-basis: 15%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        padding: 2em 0;
        position: relative;
        &::after{
            content: " ";
            position: absolute;
            height: 90%;
            right: -2px;
            bottom: 5%;
            border-radius: .5em;
            border-right: 5px solid $purple;
        }        

        .header-nav {
            margin-top: 5vh;
            flex-basis: 25vh;
            >img{
                width: 70%;
            }
            p {
                margin-top: 3vw;
                text-align: left;
                padding: .8em;
                letter-spacing: .15em;
                font-weight: 700;
            }
            .header-nav-list {
                list-style: none;
                .header-nav-list-item {
                    width: 80%;
                    margin-left: 10%;
                    margin-bottom: .4em;
                    overflow: hidden;
                    .header-nav-nested-list{
                        list-style: none;
                        transition-duration: .5s;
                        max-height: 0;
                        .header-nav-nested-list-item{
                            font-size: 90%;
                            text-align: right;
                            font-weight: 100;
                        }
                    }
                    &:hover .header-nav-nested-list-inactive{
                        animation: dropdown .5s ease-in;
                        max-height: 10em;
                    }
                    .header-nav-nested-list-active{
                        max-height: 10em;
                    }
                    a {
                        display: block;
                        padding: .8em .4em;
                        text-decoration: none;
                        position: relative;
                        &::after{
                            content: ' ';
                            width: 0;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            border-radius: .5em;
                            border-bottom: 5px solid $purple;
                            transition-duration: .5s;
                        }
                        &:hover::after {
                            content: ' ';
                            width: 40%;
                            animation: hovernav .3s ease-in;
                        }
                    }
                }
            }
        }

        .header-account {
            p {
                text-align: left;
                padding: .8em;
                letter-spacing: .15em;
                font-weight: 700;
            }
            .header-account-list {
                list-style: none;
                .header-account-list-item {
                    width: 80%;
                    margin-left: 10%;
                    margin-bottom: .4em;
                    overflow: hidden;
                    &.logout a{
                        color: #8a0e0e;
                    }
                    .header-account-nested-list{
                        list-style: none;
                        transition-duration: .5s;
                        max-height: 0;
                        .header-account-nested-list-item{
                            font-size: 90%;
                            text-align: right;
                            font-weight: 100;
                        }
                    }
                    &:hover .header-account-nested-list-inactive{
                        animation: dropdown .5s ease-in;
                        max-height: 10em;
                    }
                    .header-account-nested-list-active{
                        max-height: 10em;
                    }
                    a {
                        display: block;
                        padding: .8em .4em;
                        text-decoration: none;
                        position: relative;
                        &::after{
                            content: ' ';
                            width: 0;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            border-radius: .5em;
                            border-bottom: 5px solid $purple;
                            transition-duration: .5s;
                        }
                        &:hover::after {
                            content: ' ';
                            width: 40%;
                            animation: hovernav .3s ease-in;
                        }
                    }
                }
            }
        }

        .header-item-active{
            >a{
               position: relative;
               &::after{
                   content: ' ';
                   width: 40%!important;
                   position: absolute;
                   bottom: 0;
                   right: 0;
                   border-radius: .5em;
                   border-bottom: 5px solid $purple;
                   transition-duration: .5s;
               }
           }
        }
    }

    .main {
        flex-basis: 85%;
        height: 100vh;
        background-color: $bgcolor2;
        position: relative;
        overflow-x: hidden;
        *{
            color: $color;
        }

        h1{
            margin: 5vw 0 0 10vw;
            padding-bottom: 1vw;
            position: relative;
            &::after{
                content: " ";
                position: absolute;
                width: 10vw;
                right: 60vw;
                bottom: 0;
                border-radius: .5em;
                border-bottom: 5px solid $purple;
            }
        }

        @keyframes alert_push {
            0%{
                transform: translateX(100%);
            }
            40%{
                transform: translateX(-10%);
            }
            80%{
                transform: translateX(0%);
            }
            100%{
                transform: translateX(-1%);
            }
        }

        @keyframes alert_hide {
            0%{
                transform: translateX(-1%);
            }
            40%{
                transform: translateX(0%);
            }
            80%{
                transform: translateX(-10%);
            }
            100%{
                transform: translateX(100%);
            }
        }

        .alert{
            width: 15vw;
            height: 3vw;
            border-radius: .5em;
            position: absolute;
            bottom: 1vw;
            right: 1vw;
            display: grid;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            animation: alert_push 1s ease-in;
            &.alert-success{
                background-color: #009122;
                border-left: .5vw solid #44bd60;
                border-right: .5vw solid #44bd60;
            }
            &.alert-error{
                background-color: #990000;
                border-left: .5vw solid #c93434;
                border-right: .5vw solid #c93434;
            }
            &.alert-warning{
                background-color: #d6ba04;
                border-left: .5vw solid #fff300;
                border-right: .5vw solid #fff300;
            }
            .alert-message{
                text-align: center;
                margin: auto;
            }
            &.alert-hide{
                animation: alert_hide 1s ease-in;
                transform: translateX(120%);
            }
        }
    }
}
