.main {
    #chart-box {
        margin: auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        #first-chart {
            flex-basis: 90%;
        }
        #second-chart {
            flex-basis: 90%;
        }
    }
    * {
        color: #535657;
    }
}