.main {
    #chart-box {
        margin: auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        #first-chart {
            flex-basis: 90%;
        }
        #second-chart {
            flex-basis: 90%;
        }
    }
    * {
        color: #535657;
    }
    .msg {
        display: none;
        opacity: 0;
        width: 30%;
        margin-left: 10%;
        background-color: #c93434;
        border: .1vw solid #990000;
        padding: .5em;
        border-radius: 1em;
    }
    .visible {
        display: block;
        opacity: 1;
    }
}