@import "utilities/variables-light";

.main {
    height: auto !important; 
    .global-stats {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "big big"
        "rest rest";
        grid-gap: 2vw;
        margin-top: 4vw;
        .global-stats-section {
            width: 100%;
            padding: 1vw;
            border-radius: .5em;
            background-color: $bgcolor1;
            margin: 1vw .25vw;
            position: relative;
            &.global-stats-section-full{
                grid-area: big;
                .global-stats-chart{
                    width: 80%;
                    margin: auto;
                    padding: .5vw;
                }
            }
            .global-stats-chart{
                width: 90%;
                margin: auto;
                padding: .5vw;
            }
            .global-stats-desc {
                display: block;
                text-align: left;
                font-size: 1.3em;
                padding: .5vw;
            }
            &::after{
                content: ' ';
                position: absolute;
                width: 80%;
                bottom: -1.5px;
                left: 10%;
                border-radius: .5em;
                border: 3px solid $purple;
            }  
        }
    }
}