@import "utilities/variables-light";

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "head head"
    "rest rest";
    h1{
        grid-area: head;
    }
    .tweets{
        width: 80%;
        margin: auto;
        margin-top: 4vw;
        display: grid;
        grid-gap: 1vw;
        .tweet-single{
            padding: 1vw;
            border-radius: .5em;
            background-color: $bgcolor1;
            position: relative;
            .tweet-user{
                display: flex;
                align-items: center;
                img{
                    border-radius: 50%;
                }
                p{
                    margin-left: 1vw;
                    a{
                        text-decoration: none;
                    }
                }
            }
            .tweet-content{
                margin-top: 1vw;
                padding-bottom: 1.5vw;
                p{
                    font-weight: 300;
                }
                a{
                    position: absolute;
                    bottom: .5vw;
                    right: .5vw;
                    img{
                        width: 1.25vw;
                        filter: invert(70%);
                        &:hover{
                            filter: invert(48%) sepia(8%) saturate(7179%) hue-rotate(205deg) brightness(93%) contrast(89%);
                        }
                    }
                }
                span{
                    position: absolute;
                    bottom: .5vw;
                    left: 1vw;
                    font-size: .7em;
                    &::after{
                        content: " ";
                        position: absolute;
                        width: 9vw;
                        right: -1vw;
                        bottom: 1vw;
                        border-radius: .5em;
                        border-top: 1px solid $purple;
                    }
                }
            }
        }
    }
}