@import "utilities/variables-light";

.main{
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "head head"
    "rest rest";
    h1{
        grid-area: head;
    }
    .homepage-left{
        margin-top: 4vw;
        justify-self: center;
        .homepage-baner{
            width: 80%;
            padding: 2vw;
            border-radius: .5em;
            background-color: $bgcolor1;
            margin: 1vw auto;
            position: relative;
            align-items: center;
            img{
                width: 100%;
                border-radius: .5em;
            }
            &::after{
                content: ' ';
                position: absolute;
                width: 80%;
                bottom: -1.5px;
                left: 10%;
                border-radius: .5em;
                border: 3px solid $purple;
            }
        }
    }
    .tweets{
        width: 80%;
        margin: auto;
        margin-top: 4vw;
        display: grid;
        display: -ms-grid;
        grid-gap: 1vw;
        .tweet-single{
            padding: 1vw;
            border-radius: .5em;
            background-color: $bgcolor1;
            position: relative;
            .tweet-user{
                display: flex;
                display: -ms-flexbox;
                align-items: center;
                img{
                    border-radius: 50%;
                }
                p{
                    margin-left: 1vw;
                    a{
                        text-decoration: none;
                    }
                }
            }
            .tweet-content{
                margin-top: 1vw;
                padding-bottom: 1.5vw;
                text-align: center;
                p{
                    font-weight: 300;
                    text-align: left;
                }
                >img{
                    width: 100%;
                    margin-top: 1vw;
                    border-radius: .5em;
                }
                a{
                    position: absolute;
                    bottom: .5vw;
                    right: 1vw;
                    img{
                        width: 1.25vw;
                        filter: invert(70%);
                        &:hover{
                            filter: invert(48%) sepia(8%) saturate(7179%) hue-rotate(205deg) brightness(93%) contrast(89%);
                        }
                    }
                    &:hover + .see-more{
                        transform: scaleY(1);
                    }
                }
                .see-more{
                    transform: scaleY(0);
                    transition: transform .2s ease-in;
                    position: absolute;
                    bottom: 2.5vw;
                    right: -2vw;
                    border-radius: .5em;
                    background-color: $bgcolor2;
                    border: 1px solid $color;
                    padding: .5vw;
                    font-size: .8em;
                    &::after{
                        content: ' ';
                        position: absolute;
                        bottom: -.25vw;
                        right: 3vw;
                        width: 1vw;
                        border-bottom: 4px solid $purple;
                        border-radius: .5em;
                    }
                }
                .tweet-date{
                    position: absolute;
                    bottom: .5vw;
                    left: 1vw;
                    font-size: .7em;
                    &::after{
                        content: " ";
                        position: absolute;
                        width: 9vw;
                        right: -1vw;
                        bottom: 1vw;
                        border-radius: .5em;
                        border-top: 1px solid $purple;
                    }
                }
            }
        }
    }
}