@import "utilities/variables-light";

.main {
    height: 100vw;
    max-height: auto !important;
    .mental-health-int {
        width: 90%;
        margin: 2vw auto;
        background-color: $bgcolor1;
        padding: 2vw;
        border-radius: .5em;
        position: relative;
        font-weight: 300;
        &::after{
            content: ' ';
            position: absolute;
            width: 80%;
            bottom: -1.5px;
            left: 10%;
            border-radius: .5em;
            border: 3px solid $purple;
        }
    }
    .mental-health {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "big big"
        "rest rest";
        grid-gap: 2vw;
        margin-top: 4vw;
        .mental-health-section {
            width: 100%;
            padding: 1vw;
            border-radius: .5em;
            margin: 1vw .25vw;
            position: relative;
            .mental-section-chart{
                canvas{
                    width: 100%;
                }
                width: 90%;
                margin: auto;
                padding: .5vw;
            }
            .mental-section-desc {
                display: block;
                text-align: left;
                font-size: 1.3em;
                padding: .5vw;
                position: relative;
            }
            &:first-of-type{
                background-color: $bgcolor1;
                &::after{
                    content: ' ';
                    position: absolute;
                    width: 80%;
                    bottom: -1.5px;
                    left: 10%;
                    border-radius: .5em;
                    border: 3px solid $purple;
                }
                h3 {
                    padding: 1vw;
                }
                p{
                    padding-left: 2vw;
                    padding-bottom: 1vw;
                    font-weight: 300;
                }
            }
            &:last-of-type{
                grid-area: rest;
                .map-section{
                    width: 100%;
                    border-radius: .5em;
                    background-color: $bgcolor1;
                    margin: auto;
                    padding: 2.45vw;
                    position: relative;
                    h2{
                        margin-bottom: 1vw;
                    }
                    #search{
                        width: 100%;
                        height: 2vw;
                        border-radius: .5em;
                        padding: .5vw;
                        outline: none;
                        border: none;
                        background-color: $bgcolor2;
                        color: $color;
                        position: relative;
                        &::placeholder{
                            color: $color;
                        }
                        &:focus{
                            outline: none;
                            border: none;
                        }
                    }
                    #map{
                        width: 100%;
                        height: 30vw;
                        border-radius: .5em;
                        margin-top: .5vw;
                        .gm-style-iw-c{
                            background-color: $bgcolor2;
                            .gm-style-iw-d{
                                background-color: $bgcolor2;
                                &::-webkit-scrollbar-track{
                                    background-color: $bgcolor2;
                                }
                                &::-webkit-scrollbar-track-piece{
                                    background-color: $bgcolor2;
                                }
                                >div{
                                    p{
                                        color: $purple;
                                    }
                                    div{
                                        color: $color;
                                        span{
                                            color: $color;
                                        }
                                    }
                                }
                            } 
                        }
                    }
                    &::after{
                        content: ' ';
                        position: absolute;
                        width: 80%;
                        bottom: -1.5px;
                        left: 10%;
                        border-radius: .5em;
                        border: 3px solid $purple;
                    }
                    h3{
                        margin: .5vw 0;
                    }
                    #output{
                        font-weight: 300;
                        p{
                            span{
                                color: $purple;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            .mental-health-subsection{
                position: relative;
                background-color: $bgcolor1;
                padding: 1vw;
                border-radius: .5em;
                &:first-of-type{
                    margin-bottom: 3vw;
                }
                &::after{
                    content: ' ';
                    position: absolute;
                    width: 80%;
                    bottom: -1.5px;
                    left: 10%;
                    border-radius: .5em;
                    border: 3px solid $purple;
                }
            }
        }
    }
    
}