{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack</title>
    {% if request.session.browse_mode == 'dark' %}
    <link rel="stylesheet" href='{% static "style/css/base-dark.css" %}'>
    {% else %}
    <link rel="stylesheet" href='{% static "style/css/base-light.css" %}'>
    {% endif %}
    {% block css %}
    {% endblock css %}
</head>
<body>
    <header class="header">
        
        <nav class="header-nav">
            <a href="{% url 'homepage' %}">
                {% if request.session.browse_mode == 'dark' %}
                <img src='{% static "img/logo-light.png" %}' alt="">
                {% else %}
                <img src='{% static "img/logo-dark.png" %}' alt="">
                {% endif %}
            </a>
            <p>zdrowie</p>
            <ul class="header-nav-list">
                <li class="header-nav-list-item {% if request.resolver_match.view_name == 'mental_health_view' %} header-item-active {% endif %}"><a href="{% url 'mental_health_view' %}">zdrowie psychiczne</a></li>
                <li class="header-nav-list-item {% if request.resolver_match.view_name == 'physical_health_view' %} header-item-active {% endif %}"><a href="{% url 'physical_health_view' %}">zdrowie fizyczne</a></li>
                <li class="header-nav-list-item {% if request.resolver_match.view_name == 'covid' %} header-item-active {% endif %}"><a href="{% url 'covid' %}">COVID-19</a>
                    <ul class="header-nav-nested-list {% if request.resolver_match.view_name == 'globalcovid' or request.resolver_match.view_name == 'comparecovid' or request.resolver_match.view_name == 'countrycovid' %} header-nav-nested-list-active {% else %} header-nav-nested-list-inactive {% endif %}">
                        <li class="header-nav-nested-list-item {% if request.resolver_match.view_name == 'globalcovid' %} header-item-active {% endif %}"><a href="{% url 'globalcovid' %}">globalne statystyki</a></li>
                        <li class="header-nav-nested-list-item {% if request.resolver_match.view_name == 'comparecovid' %} header-item-active {% endif %}"><a href="{% url 'comparecovid' %}">porównaj statystyki</a></li>
                        <li class="header-nav-nested-list-item {% if request.resolver_match.view_name == 'countrycovid' %} header-item-active {% endif %}"><a href="{% url 'countrycovid' %}">statystyki jednego kraju</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <nav class="header-account">
            <p>profil</p>
            <ul class="header-account-list">
                {% if not user.is_authenticated %}
                <li class="header-account-list-item {% if request.resolver_match.view_name == 'login' %} header-item-active {% endif %}"><a href="{% url 'login' %}">zaloguj</a></li>
                <li class="header-account-list-item {% if request.resolver_match.view_name == 'register' %} header-item-active {% endif %}"><a href="{% url 'register' %}">zarejestruj</a></li>
                {% else %}
                <li class="header-account-list-item {% if request.resolver_match.view_name == 'account' %} header-item-active {% endif %}"><a href="{% url 'account' %}">ogólne</a>
                    <ul class="header-account-nested-list {% if request.resolver_match.view_name == 'account_edit' or request.resolver_match.view_name == 'account_survey' %} header-account-nested-list-active {% else %} header-account-nested-list-inactive {% endif %}">
                        <li class="header-account-nested-list-item {% if request.resolver_match.view_name == 'account_edit' %} header-item-active {% endif %}"><a href="{% url 'account_edit' %}">edytuj profil</a></li>
                        <li class="header-account-nested-list-item {% if request.resolver_match.view_name == 'account_survey' %} header-item-active {% endif %}"><a href="{% url 'account_survey' %}">dzienna ankieta</a></li>
                        {% if user.is_staff %}
                        <li class="header-account-nested-list-item"><a href="{% url 'admin:index' %}">admin</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="header-account-list-item logout"><a href="{% url 'logout' %}">wyloguj</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="theme-switcher">
            <span>zmień motyw</span>
            <input type="checkbox" onclick="location.href = '{% url 'browse_mode' request.resolver_match.view_name %}'" {% if request.session.browse_mode == 'dark' %} checked {% endif %}>
        </div>
    </header>
    <main class="main">
        {% block content %}
        {% endblock content %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <span class="alert-message">
                    {{ message }}
                </span>
            </div>
        {% endfor %}
    </main>
    <script>
        const alerts = document.querySelectorAll(".alert");
        alerts.forEach(alert => {
            alert.addEventListener("click", function() {
                alert.classList.add("alert-hide");
            })
            setTimeout(function(){ alert.classList.add("alert-hide"); }, 3000);
        })
        
    </script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>