{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack</title>
    <link rel="stylesheet" href="{% static "style/css/base.css" %}">
    {% block css %}
    {% endblock css %}
</head>
<body>
    <header class="header">
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-list-item"><a href="#">mental health</a></li>
                <li class="header-nav-list-item"><a href="#">physical health</a></li>
                <li class="header-nav-list-item"><a href="{% url 'covid' %}">COVID-19</a></li>
            </ul>
        </nav>
        <nav class="header-account">
            <p>account</p>
            <ul class="header-account-list">
                <li class="header-account-list-item"><a href="#">login</a></li>
                <li class="header-account-list-item"><a href="#">profile</a></li>
                <li class="header-account-list-item"><a href="#">idk</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        {% block content %}
        {% endblock content %}
    </main>
    <footer class="footer">
        <p>henlo we do some ye ye u know in the footer lul</p>
    </footer>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>