{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack</title>
    <link rel="stylesheet" href="{% static "scss/base.css" %}">
    {% block css %}
    {% endblock css %}
</head>
<body>
    <header class="header">
        <h2 class="header-title">yeah project</h2>
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-list-item"><a href="#">zdrowie psychiczne</a></li>
                <li class="header-nav-list-item"><a href="#">zdrowie fizyczne</a></li>
                <li class="header-nav-list-item"><a href="#">korona kielce</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer class="footer">
        <p class="footer-content">masne stronki ema</p>
    </footer>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>