{% extends 'base.html' %}
{% load static %}

{% block css %}
{% if request.session.browse_mode == 'dark' %}
<link rel="stylesheet" href="{% static 'style/css/account-dark.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'style/css/account-light.css' %}">
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
{% endblock css %}

{% block content %}
<h1>Twoje konto</h1>
<section class="user-info">
    <section class="user-overview">
        <img src="{{ user.user_profile.image.url }}" alt="zdjęcie użytkownika {{ user.username }}">
        <h3>{{ user.username }}</h3>
    </section>
    <section class="user-data">
        <p><span>Imię</span> {{ user.first_name }}</p>
        <p><span>Nazwisko</span> {{ user.last_name }}</p>
        <p><span>Data urodzenia</span> {{ user.user_profile.birth_date | date }}</p>
        <p><span>Płeć</span> {{ user.user_profile.sex }}</p>
        {% if user.user_profile.city %}
        <p><span>Miasto</span> {{ user.user_profile.city }}</p>
        {% else %}
        <p><span>Miasto</span></p>
        {% endif %}
        <p><span>Adres email</span> {{ user.email }}</p>
        <p><span>Ilość wykonanych ankiet</span> {{ user.user_profile.surveys.count }}</p>
        <a href="{% url 'account_edit' %}">edytuj</a>
    </section>
</section>
{% if surveys %}
<section class="charts-section">
    <h2>Twoje postępy</h2>
    <section class="chart-section">
        <div class="chart-section-chart">
            <canvas id="chartHeight"></canvas>
        </div>
        <p class="chart-section-desc">wzrost [cm]</p>
    </section>
    <section class="chart-section">
        <div class="chart-section-chart">
            <canvas id="chartWeight"></canvas>
        </div>
        <p class="chart-section-desc">waga [kg]</p>
    </section>
    <section class="chart-section">
        <div class="chart-section-chart">
            <canvas id="chartChest"></canvas>
        </div>
        <p class="chart-section-desc">klatka [cm]</p>
    </section>
    <section class="chart-section">
        <div class="chart-section-chart">
            <canvas id="chartBicep"></canvas>
        </div>
        <p class="chart-section-desc">biceps [cm]</p>
    </section>
    <section class="chart-section">
        <div class="chart-section-chart">
            <canvas id="chartThigh"></canvas>
        </div>
        <p class="chart-section-desc">udo [cm]</p>
    </section>
    <section class="chart-section">
        <div class="chart-section-chart">
            <canvas id="chartWaist"></canvas>
        </div>
        <p class="chart-section-desc">talia [cm]</p>
    </section>
    <section class="chart-section">
        <div class="chart-section-chart">
            <canvas id="chartHips"></canvas>
        </div>
        <p class="chart-section-desc">biodra [cm]</p>
    </section>
    <section class="chart-section">
        <div class="chart-section-chart">
            <canvas id="chartArms"></canvas>
        </div>
        <p class="chart-section-desc">barki [cm]</p>
    </section>
    <section class="chart-section">
        <div class="chart-section-chart">
            <canvas id="chartStress"></canvas>
        </div>
        <p class="chart-section-desc">poziom stresu</p>
    </section>
</section>

{% else %}
    <p>Nie posiadasz jeszcze wypełnionej ankiety!</p>
{% endif %}
{% endblock content %}

{% block scripts %}
{% if request.session.browse_mode == 'dark' %}
<script src="{% static 'js/comparesurveys-dark.js' %}"></script>
{% else %}
<script src="{% static 'js/comparesurveys-light.js' %}"></script>
{% endif %}
{% endblock scripts %}