{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style/css/account.css' %}">
{% endblock css %}

{% block content %}
<p>Zalogowano jako {{ user }}</p>
<p>{{ user.email }}</p>
<p>{{ user.first_name }}</p>
<p>{{ user.last_name }}</p>
{% if user.user_profile.sex %}
    <p>{{ user.user_profile.sex }}</p>
{% endif %}

{% if surveys %}
<section class="charts">
    <canvas id="chartHeight"></canvas>
    <canvas id="chartWeight"></canvas>
    <canvas id="chartChest"></canvas>
</section>
{% else %}
    <p>Nie posiadasz jeszcze wypełnionej ankiety!</p>
{% endif %}
{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src={% static "js/comparesurveys.js" %}></script>
{% endblock scripts %}