{% extends 'base.html' %}
{% load static %}

{% block css %}
{% if request.session.browse_mode == 'dark' %}
<link rel="stylesheet" href="{% static 'style/css/form-dark.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'style/css/form-light.css' %}">
{% endif %}
{% endblock css %}
{% block content %}
<h1>Edytuj swój profil</h1>
<form method="POST" action="{% url 'account_edit' %}" autocomplete="off" enctype="multipart/form-data">
    <div class="form-fields">
        {% csrf_token %}
        {% for field in u_form %}
            <div class="form-div">
                {{ field }} <label for="{{ field.id_for_label }}"><span>{{ field.label }}</span></label>
            </div>
        {% endfor %}
        {% for field in p_form %}
            {% if field != p_form.image %}
                <div class="form-div">
                    {{ field }} <label for="{{ field.id_for_label }}"><span>{{ field.label }}</span></label>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="form-right">
        <div class="form-image">
            <img src="{{ form_user.image.url }}" alt="">
            {{ p_form.image }}
        </div>
        <input type="submit" value="edytuj">
    </div>
</form>
{% endblock content %}