{% extends 'base.html' %}

{% block content %}
<form method="POST" action="{% url 'register' %}" autocomplete="off">
    {% csrf_token %}
    {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>{{ field }}
        {% if field.help_text %}
            <span>{{ field.help_text }}</span>
        {% endif %}
        {% for error in field.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    {% endfor %}
    <input type="submit" value="register">
</form>
{% endblock content %}