{% extends 'base.html' %}
{% load static %}

{% block css %}
{% if request.session.browse_mode == 'dark' %}
<link rel="stylesheet" href="{% static 'style/css/form-dark.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'style/css/form-light.css' %}">
{% endif %}
{% endblock css %}
{% block content %}
<h1>Zarejestruj się</h1>
<form method="POST" action="{% url 'register' %}" autocomplete="off">
    <div class="form-fields">
        {% csrf_token %}
        {% for field in form %}
        {% if field != form.captcha %}
        <div class="form-div">
            {{ field }}<label for="{{ field.id_for_label }}"><span>{{ field.label }}</span></label>
            {% for error in field.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="form-right">
        {{ form.captcha }}
        <input type="submit" value="zarejestruj się">
    </div>
</form>
{% endblock content %}
{% block scripts %}
{% if request.session.browse_mode == 'dark' %}
<script>
    const captcha = document.querySelectorAll(".g-recaptcha")[0];
    captcha.dataset.theme = 'dark';
</script>
{% endif %}
{% endblock scripts %}