{% extends 'base.html' %}
{% load static %}

{% block css %}
{% if request.session.browse_mode == 'dark' %}
    <link rel="stylesheet" href="{% static 'style/css/covid-dark.css' %}">
{% else %}
    <link rel="stylesheet" href="{% static 'style/css/covid-light.css' %}">
{% endif %}
{% endblock css %}

{% block content %}
<h1>COVID-19</h1>
<section>
    <a href="{% url 'globalcovid' %}">
        <article class="global-stats">
            <h4>globalne statystyki</h4>
        </article>
    </a>
    <a href="{% url 'comparecovid' %}">
        <article class="comparison">
            <h4>porównaj dwa państwa</h4>
        </article>
    </a>
    <a href="{% url 'countrycovid' %}">
        <article class="single-stats">
            <h4>statystyki danego kraju</h4>
        </article>
    </a>
</section>
<section class="covid-content">
    <section class="help">
        <h2>Koronawirus: informacje i zalecenia</h2>
        <section class="help-single">
            <h3 class="help-single-title">Podejrzewasz u siebie koronawirusa?</h3>
            <section class="help-single-content">
                <h4>Najczęstsze objawy koronawirusa to:</h4>
                <ul>
                    <li>wysoka gorączka,</li>
                    <li>duszności,</li>
                    <li>kaszel,</li>
                    <li>kłopoty z oddychaniem.</li>
                </ul>
                <p>Czasem jednak pojawiają się takiej objawy jak utrata węchu i smaku, bóle mięśni i głowy, biegunka, wysypka.</p>
                <p>Jeśli masz takie objawy, skontaktuj się z Twoim lekarzem podstawowej opieki zdrowotnej za pośrednictwem teleporady. Lekarz może zlecić Ci test na koronawirusa.</p>
                <p>Tutaj możesz sprawdzić, w której placówce POZ w pobliżu możesz uzyskać teleporadę: <a href="https://www.nfz.gov.pl/aktualnosci/aktualnosci-centrali/teleporady-dotyczace-koronawirusa-w-przychodniach,7621.html">lista placówek</a></p>
                <h4>Jeśli twój stan jest cięzki. Nie czekaj. Zadzwoń na numer alarmowy 112 lub 999 i uprzedź, że możesz mieć koronawirusa.</h4>
                <p>Jeśli w ostatnim czasie byłeś za granicą, w krajach, w których wiele osób choruje, ale <strong>nie zaobserwowałeś u siebie objawów</strong>, to kontroluj swój stan zdrowia. Zwracaj uwagę na występowanie objawów grypopodobnych (złe samopoczucie, bóle mięśniowe, kaszel), a takżę często mierz temperaturę ciała.</p>
                <p><strong>Jeżeli miałeś kontakt z osobą chorą lub zakażoną koronawirusem</strong>, to bezzwłocznie, telefonicznie powiadom stację sanitarno-epidemiologiczną: dzwoń do Centrum kontaktu COVID-19. Infolinia czynna całodobowo <a href="tel:222500115">22 25 00 115.</a></p>
                <p>Jeśli masz jakieś pytania związane z koronawirusem dostępna jest infolinia Narodowego Funduszu Zdrowia: <a href="tel:800190590">800 190 590.</a></p>
            </section>
        </section>
        <section class="help-single">
            <h3 class="help-single-title">Kontakt</h3>
            <section class="help-single-content">
                <p>Jeśli posiadasz objawy lub podejrzenia zakażenia koronawirusem skontaktuj się z infolinią NFZ</p>
                <p><strong>Infolinia NFZ:</strong> <a href="tel:800190590">800 190 590</a></p>
                <p>Jeśli masz jakiekolwiek pytania dotyczące:</p>
                <ul>
                    <li>kwarantanny</li>
                    <li>dodatniego testu na koronawirus</li>
                    <li>bliskiego kontaktu z osobą zakażoną</li>
                </ul>
                <p>Skontaktuj się z sanepidem przez formularz online: <br><a href="https://aplikacje.gov.pl/app/sanepid">wyślij zgłoszenie</a></p>
                <p>Do wysłania zgłoszenia niezbędne jest posiadanie profilu zaufanego. (<a href="https://www.gov.pl/web/gov/zaloz-profil-zaufany">tutaj dowiesz się jak go założyć</a>)</p>
            </section>
        </section>
        <section class="help-single">
            <h3 class="help-single-title">Lista przydatnych linków</h3>
            <section class="help-single-content">
                <p><a href="https://pacjent.gov.pl/koronawirus/sprawdz-objawy">Tutaj</a> sprawdzisz czy twoje objawy mogą oznaczać zakażenie koronawirusem</p>
                <p><a href="https://pacjent.gov.pl/teleporada">Tutaj</a> możesz zapisać się na teleporadę online</p>
                <p><a href="https://www.gov.pl/web/koronawirus/teleporady-poz">Tutaj</a> sprawdzisz rejestr placówek podstawowej opieki zdrowotnej, które mogą udzielić teleporady</p>
                <p><a href="https://www.gov.pl/web/koronawirus/stacje-sanitarno-epidemiologiczne">Tutaj</a> sprawdzisz listę stacji sanitarno-epidemiologicznych</p>
            </section>
        </section>
    </section>
    <section class="tweets">
    <h2>Popularne na twitterze</h2>
    {% for tweet in tweets %}
        <article class="tweet-single">
            <section class="tweet-user">
                <img src="{{ tweet.profile_image }}">
                <p><a href="https://twitter.com/{{ tweet.screen_name }}">{{ tweet.name }}</a></p>
                
            </section>
            <section class="tweet-content">
                <p>{{ tweet.text }}</p>
                <a href="https://twitter.com/MZ_GOV_PL/status/{{ tweet.tweet_id }}"><img src="{% static 'img/twitter.svg' %}" alt="link do tweeta"></a>
                <span>{{ tweet.tweet_date }}</span>
            </section>
        </article>
    {% endfor %}
    </section>
</section>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}