{% extends 'base.html' %}
{% load static %}

{% block css %}
{% if request.session.browse_mode == 'dark' %}
    <link rel="stylesheet" href="{% static 'style/css/covid-dark.css' %}">
{% else %}
    <link rel="stylesheet" href="{% static 'style/css/covid-light.css' %}">
{% endif %}
{% endblock css %}

{% block content %}
<h1>COVID-19</h1>
<section>
    <a href="{% url 'globalcovid' %}">
        <article class="global-stats">
            <h4>globalne statystyki</h4>
        </article>
    </a>
    <a href="{% url 'comparecovid' %}">
        <article class="comparison">
            <h4>porównaj dwa państwa</h4>
        </article>
    </a>
    <a href="{% url 'countrycovid' %}">
        <article class="single-stats">
            <h4>statystyki danego kraju</h4>
        </article>
    </a>
</section>
<section class="covid-content">
    <section>

    </section>
    <section class="tweets">
    <h2>Popularne na twitterze</h2>
    {% for tweet in tweets %}
        <article class="tweet-single">
            <section class="tweet-user">
                <img src="{{ tweet.profile_image }}">
                <p><a href="https://twitter.com/{{ tweet.screen_name }}">{{ tweet.name }}</a></p>
                
            </section>
            <section class="tweet-content">
                <p>{{ tweet.text }}</p>
                <a href="https://twitter.com/MZ_GOV_PL/status/{{ tweet.tweet_id }}"><img src="{% static 'img/twitter.svg' %}" alt="link do tweeta"></a>
                <span>{{ tweet.tweet_date }}</span>
            </section>
        </article>
    {% endfor %}
    </section>
</section>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}