{% extends 'base.html' %}
{% load static %}

{% block css %}
{% if request.session.browse_mode == 'dark' %}
    <link rel="stylesheet" href="{% static 'style/css/covid-dark.css' %}">
{% else %}
    <link rel="stylesheet" href="{% static 'style/css/covid-light.css' %}">
{% endif %}
{% endblock css %}

{% block content %}
<h1>COVID-19</h1>
<section>
    <a href="{% url 'globalcovid' %}">
        <article class="global-stats">
            <h4>global stats</h4>
        </article>
    </a>
    <a href="{% url 'comparecovid' %}">
        <article class="comparison">
            <h4>comparison stats</h4>
        </article>
    </a>
    <a href="{% url 'countrycovid' %}">
        <article class="single-stats">
            <h4>single country stats</h4>
        </article>
    </a>
</section>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}